<div class="container" xmlns="http://www.w3.org/1999/html">
    <form class="form-horizontal" ng-controller="DiplomaController" name="diplomaForm">
        <div class="row">
            <div class="form-actions">
                <select ng-model="selectedEducation" name="availableEducations" ng-options="key as value.label for (key, value) in educations">
                </select>
                <button class="btn" ng-click="add();">Add/update</button>
                <button class="btn">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="control-group span6">
                <label class="control-label">Diploma</label>
                <div class="controls">
                    <input id="diploma" type="text" name="diploma" ng-model="diploma.name" placeholder="Diploma name" class="input-xlarge" required>
                    <span class="error" ng-show="diplomaForm.diploma.$error.required">Required!</span>
                </div>
            </div>
            <div class="control-group span6">
                <label class="control-label">Institution</label>
                <div class="controls">
                    <input id="institution" type="text" name="institution" ng-model="diploma.institution" placeholder="Name of school/institution"
                           class="input-xlarge" required>
                    <span class="error" ng-show="diplomaForm.institution.$error.required">Required!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span6">
                <label class="control-label">Type</label>
                <div class="controls">
                    <select ng-model="diploma.type" name="diplomaType" ng-options="key as value.label for (key, value) in diplomaTypes">
                    </select>
                    <span class="error" ng-show="diplomaForm.diplomaType.$error.required">Required!</span>
                </div>
            </div>
            <div class="control-group span6">
                <label class="control-label">Graduated</label>
                <div class="controls">
                    <input id="graduated" type="checkbox" name="graduated" ng-model="diploma.graduated" class="checkbox">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span6">
                <label class="control-label">Start education</label>

                <div class="controls">
                    <input type="text" name="dipFromDate" id="dipFromDate" ng-model="diploma.from" required>
                    <span class="error" ng-show="diplomaForm.dipFromDate.$error.required">Required!</span>
                </div>
            </div>
            <div class="control-group span6">
                <label class="control-label">End education</label>

                <div class="controls">
                    <input type="text" name="dipEndDate" id="dipEndDate" ng-model="diploma.end" required>
                </div>
                <span class="error" ng-show="diplomaForm.dipEndDate.$error.required">Required!</span>
            </div>
        </div>

    </form>
        <fieldset>
            <legend>Diplomas</legend>
            <table class="table">
                <thead>
                <th>Diploma</th>
                <th>Institution</th>
                <th>Type</th>
                <th>Graduated</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr ng-repeat="diploma in consultantDiplomas">
                    <td>{{ diploma.name }}</td>
                    <td>{{ diploma.institution }}</td>
                    <td>{{ diploma.type }}</td>
                    <td>{{ diploma.graduated }}</td>
                    <td>{{ diploma.from }}</td>
                    <td>{{ diploma.end }}</td>
                    <td>
                        <i class="icon-trash" ng-click="delete(diploma.id)"></i>
                    </td>
                </tr>
                </tbody>

            </table>

        </fieldset>

</div>