<br />
<div class="alerts">
    <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
</div>
<div class="loginForm">
            <form id="login-form">
                <div class="row">
                    <div class="span1">
                        <label for="username" >Username</label>
                    </div>
                    <div class="span3">
                        <input id="username" ng-model="username" name="username" type="text"/>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <label for="password">Password</label>
                    </div>
                    <div class="span3">
                        <input id="password" ng-model="password" name="password" type="password" />
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <label for="remember">Remember</label>
                    </div>
                    <div class="span3">
                        <input id="remember" name="remember" type="checkbox" />
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="span4">
                        <input id="loginBtn" ng-click="handleLogin()" class="btn btn-danger btn-block success" value="Login" />
                    </div>
                </div>
            </form>
    </div>

