<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-datepicker.css"/>
</head>

<body ng-controller="LoginController">
        <div class="topBar"></div>

        <div class="header" style="margin-bottom: 10px;">
            <div class="container">
                <div class="row headerRow" style="height: 75px; position:relative; ">
                    <div class="span12" style="height:50px;">
                        <img style="vertical-align:bottom; padding-top: 10px;" alt="Contribute logo" class="ctbLogo" src="img/ctb-logo.png" />
                        &nbsp;&nbsp;
                        <span style="font-weight:bold;font-size: 40px; color:#333333; font-family: "Trebuchet MS"">CV application</span>
                    </div>

                </div>

                <div style="float: right; ">
                    <span ng-show="isAuthenticated">
                        Welkom {{ loggedUser }}&nbsp;&nbsp;
                    </span>
                    <div ng-show="isAuthenticated" class="label label-inverse" style="background-color:#eb1d32;">
                        <a class="noStyleLink" href="#/login" ng-click="handleLogout()">Logout</a>
                    </div>
                    <div ng-hide="isAuthenticated" class="label label-inverse" style="background-color:#eb1d32;">
                        <a class="noStyleLink" href="#/login">Login</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="mainContent">
            <div class="container hero-unit">
                <div ng-controller="TabsDemoCtrl">
                    <tabset>
                        <tab heading="Static title">Static content</tab>
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                            {{tab.content}}
                        </tab>
                        <tab select="alertMe()">
                            <tab-heading>
                                <i class="icon-bell"></i> Select me for alert!
                            </tab-heading>
                            I've got an HTML heading, and a select callback. Pretty cool!
                        </tab>
                    </tabset>
                </div>
                <div ng-view></div>
            </div>
        </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib//jquery-1.10.1.min.js"></script>
  <!--script src="lib/angular/angular.js"></script-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="lib/angular-strap.min.js"></script>
  <script src="lib/bootstrap/bootstrap-datepicker.js"></script>
  <script src="lib/restangular.js"></script>
  <script src="lib/moment.min.js"></script>


  <script src="js/app.js"></script>
  <script src="js/angular-strap/directives/tab.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/alert.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/routingConfig.js"></script>
</body>
</html>
